body {
    font-size: 80%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #efefef;
  }
  
 .Pagrindas {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
  }
  
  h2 {
    width: 150px;
    margin: 10px auto 25px auto;
  }
  
  ul { display: flex;
    justify-content: center;
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: space-between;
    list-style-type: none;
  }
  
 
  
  p {
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
  }
  
  a {color: black;}